html, body {
	height: 98%;
	width: 98%;
}
div.main-flex {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}
div.upper {
	flex: 1;
}
div.test {
	flex: 1;
}
div.lower {
	align-self: stretch center;
	flex: 1;
}
canvas.dots {
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
}

